.container-fluid {
    width: max-content;
}
h1 {
    text-align: center;
}
.row {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.col {
    width: 104px;
    height: 120px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-bottom: -26px;
}
.token {
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
    background-color: beige;
    display: none;
}
.token-text {
    position: relative;
    text-align: center;
    font-size: 18px;
    top: 5px;
}
.token-prob {
    position: relative;
    text-align: center;
    font-size: 12px;
}
input {
    margin: auto;
    margin-top: 30px;
}