<div class="container-fluid">
    <h1>Catan 5 & 6 Player Extension&trade;</h1>
    <!-- ROW 1 : 3 HEXES -->
    <div class="row">
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex1_number}}</div>
                <div class="token-prob">{{hex1_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex2_number}}</div>
                <div class="token-prob">{{hex2_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex3_number}}</div>
                <div class="token-prob">{{hex3_prob}}</div>
            </div>
        </div>
    </div>
    <!-- ROW 2 : 4 HEXES -->
    <div class="row">
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex4_number}}</div>
                <div class="token-prob">{{hex4_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex5_number}}</div>
                <div class="token-prob">{{hex5_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex6_number}}</div>
                <div class="token-prob">{{hex6_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex7_number}}</div>
                <div class="token-prob">{{hex7_prob}}</div>
            </div>
        </div>
    </div>
    <!-- ROW 3 : 5 HEXES -->
    <div class="row">
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex8_number}}</div>
                <div class="token-prob">{{hex8_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex9_number}}</div>
                <div class="token-prob">{{hex9_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex10_number}}</div>
                <div class="token-prob">{{hex10_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex11_number}}</div>
                <div class="token-prob">{{hex11_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex12_number}}</div>
                <div class="token-prob">{{hex12_prob}}</div>
            </div>
        </div>
    </div>
    <!-- ROW 4 : 6 HEXES -->
    <div class="row">
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex13_number}}</div>
                <div class="token-prob">{{hex13_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex14_number}}</div>
                <div class="token-prob">{{hex14_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex15_number}}</div>
                <div class="token-prob">{{hex15_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex16_number}}</div>
                <div class="token-prob">{{hex16_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex17_number}}</div>
                <div class="token-prob">{{hex17_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex18_number}}</div>
                <div class="token-prob">{{hex18_prob}}</div>
            </div>
        </div>
    </div>
    <!-- ROW 5 : 5 HEXES -->
    <div class="row">
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex19_number}}</div>
                <div class="token-prob">{{hex19_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex20_number}}</div>
                <div class="token-prob">{{hex20_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex21_number}}</div>
                <div class="token-prob">{{hex21_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex22_number}}</div>
                <div class="token-prob">{{hex22_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex23_number}}</div>
                <div class="token-prob">{{hex23_prob}}</div>
            </div>
        </div>
    </div>
    <!-- ROW 6 : 4 HEXES -->
    <div class="row">
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex24_number}}</div>
                <div class="token-prob">{{hex24_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex25_number}}</div>
                <div class="token-prob">{{hex25_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex26_number}}</div>
                <div class="token-prob">{{hex26_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex27_number}}</div>
                <div class="token-prob">{{hex27_prob}}</div>
            </div>
        </div>
    </div>
    <!-- ROW 7 : 3 HEXES -->
    <div class="row">
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex28_number}}</div>
                <div class="token-prob">{{hex28_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex29_number}}</div>
                <div class="token-prob">{{hex29_prob}}</div>
            </div>
        </div>
        <div class="col">
            <div class="token">
                <div class="token-text">{{hex30_number}}</div>
                <div class="token-prob">{{hex30_prob}}</div>
            </div>
        </div>
    </div>
    <!-- BUTTON ROW -->
    <div class="row" style="width: auto; max-width: none;">
        <input type="submit" value="Clear" (click)="onClear()">
        <input type="submit" value="Generate" (click)="onSubmit()">
        <input type="submit" value="Reset" (click)="onReset()">
    </div>
</div>