<div class="board">
    <div class="row">
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex1_number}}</div>
                    <div class="token-prob">{{hex1_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex2_number}}</div>
                    <div class="token-prob">{{hex2_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex3_number}}</div>
                    <div class="token-prob">{{hex3_prob}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex4_number}}</div>
                    <div class="token-prob">{{hex4_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex5_number}}</div>
                    <div class="token-prob">{{hex5_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex6_number}}</div>
                    <div class="token-prob">{{hex6_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex7_number}}</div>
                    <div class="token-prob">{{hex7_prob}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex8_number}}</div>
                    <div class="token-prob">{{hex8_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex9_number}}</div>
                    <div class="token-prob">{{hex9_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex10_number}}</div>
                    <div class="token-prob">{{hex10_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex11_number}}</div>
                    <div class="token-prob">{{hex11_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex12_number}}</div>
                    <div class="token-prob">{{hex12_prob}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex13_number}}</div>
                    <div class="token-prob">{{hex13_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex14_number}}</div>
                    <div class="token-prob">{{hex14_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex15_number}}</div>
                    <div class="token-prob">{{hex15_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex16_number}}</div>
                    <div class="token-prob">{{hex16_prob}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex17_number}}</div>
                    <div class="token-prob">{{hex17_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex18_number}}</div>
                    <div class="token-prob">{{hex18_prob}}</div>
                </div>
            </div>
        </div>
        <div class="hex-outline">
            <div class="hex">
                <div class="token">
                    <div class="token-text">{{hex19_number}}</div>
                    <div class="token-prob">{{hex19_prob}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="button-container">
    <div class="button">
        <input type="submit" value="Generate" (click)="onSubmit()">
    </div>
    <div class="button">
        <input type="submit" value="Clear" (click)="onClear()">
    </div>
    <div class="button">
        <input type="submit" value="Reset" (click)="onReset()">
    </div>
</div> -->
<div class="row">
    <div class="hex-hide">
        <input style="margin-bottom: 30px" type="submit" value="Generate" (click)="onSubmit()">
    </div>
    <div class="hex-hide">
        <input style="margin-bottom: 30px" type="submit" value="Clear" (click)="onClear()">
    </div>
    <div class="hex-hide">
        <input style="margin-bottom: 30px" type="submit" value="Reset" (click)="onReset()">
    </div>
</div>