<h1 *ngIf="activeGame == ''">Catan Board Generator</h1>

<div class="game-selection" *ngIf="activeGame == ''">
  <form [formGroup]="gameSelectionForm">
    <select (change)="changeGame()" formControlName="game">
      <option value="" disabled>Select</option>
      <option *ngFor="let game of map | keyvalue" [ngValue]="game">{{game.value}}</option>
    </select>
  </form>
</div>
<app-catan-board-generator (newGameEvent)="reset()" *ngIf="activeGame == 'catan'"></app-catan-board-generator>
<app-extension-board-generator (newGameEvent)="reset()" *ngIf="activeGame == 'extension'"></app-extension-board-generator>